# Please do not use this ignore file to define platform specific files.
#
# For these purposes create a global .gitignore file, which is a list of rules
# for ignoring files in every Git repository on your computer.
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

*
!.gitignore
!libzephir.m4
!ax_check_compile_flag.m4
!ax_check_link_flag.m4
!ax_check_preproc_flag.m4
