# EditorConfig
# http://EditorConfig.org

# top-most EditorConfig file
root = true

# LF end-of-line, insert an empty new line and UTF-8
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Tab indentation
[*.{mk,sh,c,h,re,am,in,lemon}]
indent_size = 4
indent_style = tab
tab_width = 4

# Tab indentation
[makefile,Makefile]
indent_size = 4
indent_style = tab
tab_width = 4

[*.{json,xml,ac}]
indent_size = 2
indent_style = space
