# Please do not use this ignore file to define platform specific files.
#
# For these purposes create a global .gitignore file, which is a list of rules
# for ignoring files in every Git repository on your computer.
#
# https://help.github.com/articles/ignoring-files/#create-a-global-gitignore

# I use this as my wish list
TODO

lemon

# Will be included in future to enable code coverage
scanner.c
zephir.c

# Generated binaries
*.lo
*.o
*.out
libzephir.a
libzephir.la
libzephir.so

.deps/
.libs/
autom4te.cache/
ar-lib
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
m4/*
!m4/libzephir.m4
